POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DATABASE=delivery
PORT=3000
MODE=DEV
RUN_MIGRATIONS=true
JWT_SECRET=jwtsecret
JWT_EXPIRATION_TIME=3600s
AWS_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_PUBLIC_BUCKET_NAME